###
## Juju, LXD and Virtual Machine configurations
###
#
# The Ubuntu operating system version to install on the virtual machines (VMs)
ubuntu_version = "24.04"
# The Juju cloud name to deploy the charmed MAAS model on
juju_cloud_name = "foobar"
# The Juju cloud region to deploy charmed MAAS model on
juju_cloud_region = "default"
# Set this to true to run PostgreSQL in high availability (HA), which will create three PostgreSQL units
enable_postgres_ha = false
# Set this to true to run MAAS in high availability (HA), which will create three maas-region controller units
enable_maas_ha = false
# The LXD project in which to create the VMs for Juju
lxd_project = "default"
# Use the following constraints for the machines
# Increase cores and mem for larger MAAS installations
# We recommend using virtual machines. If you are curious
# you can change the constraints to use containers or physical
# hosts but this is untested
# NOTE: if you set up the project with juju-bootstrap your
#       controller will work with VMs
maas_constraints     = "cores=2 mem=4G virt-type=virtual-machine"
postgres_constraints = "cores=2 mem=4G virt-type=virtual-machine"

###
## PostgreSQL configuration
###

# Operator channel for PostgreSQL deployment
charm_postgresql_channel = "16/stable"
# Operator channel revision for PostgreSQL deployment
charm_postgresql_revision = null
# Operator configuration for PostgreSQL deployment
charm_postgresql_config = {
  # Maximum number of concurrent connections to allow to the database server
  experimental_max_connections = 100
  # Enable btree_gin PostgreSQL plugin since it is required by Temporal, a MAAS >=3.5 key component
  plugin_btree_gin_enable = true
}

###
## MAAS Region configuration
###

# Operator channel for MAAS Region Controller deployment
charm_maas_region_channel = "latest/edge"
# Operator channel revision for MAAS Region Controller deployment
charm_maas_region_revision = null
# Operator configuration for MAAS Region Controller deployment
charm_maas_region_config = {}

###
## MAAS Agent configuration
###

# Whether to enable MAAS running in region+rack mode
# NOTE:
#   This installs the maas-agent charm at the same machines as 
#   maas-region charm to achieve region+rack mode.
#   This behavior will change once the maas-agent charm is EOL.
enable_rack_mode = false
# Operator channel for MAAS Agent Controller deployment
charm_maas_agent_channel = "latest/edge"
# Operator channel revision for MAAS Agent Controller deployment
charm_maas_agent_revision = null
# Operator config for MAAS Agent Controller deployment
charm_maas_agent_config = {}

###
## MAAS Admin configuration
###

# The MAAS admin username
admin_username = "admin"
# The MAAS admin password
admin_password = "insecure"
# The MAAS admin email
admin_email = "admin@maas.io"
# The MAAS admin SSH key source. Valid sources include 'lp' for Launchpad and 'gh' for GitHub.
# E.g. 'lp:my_launchpad_username'.
admin_ssh_import = ""

###
## Backup configuration
###

# Whether to enable backup for MAAS and PostgreSQL
enable_backup = false
# Operator channel for S3 Integrator deployment
charm_s3_integrator_channel = "1/stable"
# Operator channel revision for S3 Integrator deployment
charm_s3_integrator_revision = null
# Operator configuration for both S3 Integrator deployments.
# Configuration for `bucket`, `path`, and `tls-ca-chain` is
# skipped even if set, since it is handled by different
# Terraform variables.
charm_s3_integrator_config = {
  # Endpoint the S3 backup exists at
  endpoint = "https://127.0.0.1:9000"
  # The AWS region the S3 bucket is in. Leave empty for Minio
  region = ""
  # The S3 protocol specific bucket path lookup type. Leave `path` for Minio
  s3-uri-style = "path"
}
# The file path of the S3 CA chain, used for HTTPS validation. Use only with Minio, otherwise set
# it to empty string
s3_ca_chain_file_path = "/home/ubuntu/cert.pem"
# Access key used to access the S3 backup bucket
s3_access_key = "admin"
# Secret key used to access the S3 backup bucket
s3_secret_key = "password"
# Bucket name to store PostgreSQL backups in
s3_bucket_postgresql = "postgresql"
# Path in the S3 bucket to store PostgreSQL backups in
s3_path_postgresql = "/postgresql"
# Bucket name to store MAAS backups in
s3_bucket_maas = "maas"
# Path in the S3 bucket to store MAAS backups in
s3_path_maas = "/maas"
