# The OS version to install on the VMs
ubuntu_version = "24.04"
# The Juju cloud name to deploy charmed MAAS model
juju_cloud_name = "foobar"
# Whether to enable PostgreSQL HA
enable_postgres_ha = false
# Whether to enable MAAS HA
enable_maas_ha = false
# The LXD project to deploy Juju machines
lxd_project = "default"

###
## PostgreSQL configuration
###

# Operator channel for PostgreSQL deployment
charm_postgresql_channel = "16/stable"
# Operator channel revision for PostgreSQL deployment
charm_postgresql_revision = null
# Operator config for PostgreSQL deployment
charm_postgresql_config = {
  # Maximum number of concurrent connections to allow to the database server
  experimental_max_connections = 100
  # Enable btree_gin PostgreSQL plugin since it is required by Temporal, a MAAS >=3.5 key component
  plugin_btree_gin_enable = true
}

###
## MAAS Region configuration
###

# Operator channel for MAAS Region Controller deployment
# NOTE:
#   Until MAAS 3.6.1 is released, this is required
charm_maas_region_channel = "latest/edge/36-edge"
# Operator channel revision for MAAS Region Controller deployment
charm_maas_region_revision = null
# Operator config for MAAS Region Controller deployment
charm_maas_region_config = {}

###
## MAAS Agent configuration
###

# Whether to enable MAAS running in region+rack mode
# NOTE:
#   Until maas-agent charm is put EOL, this is installing it at the same machines as maas-region
#   units to achieve region+rack mode
enable_rack_mode = false
# Operator channel for MAAS Agent Controller deployment
# NOTE:
#   Until MAAS 3.6.1 is released, this is required
charm_maas_agent_channel = "latest/edge/36-edge"
# Operator channel revision for MAAS Agent Controller deployment
charm_maas_agent_revision = null
# Operator config for MAAS Agent Controller deployment
charm_maas_agent_config = {}

###
## MAAS Admin configuration
###

# The MAAS admin username
admin_username = "admin"
# The MAAS admin password
admin_password = "insecure"
# The MAAS admin email
admin_email = "admin@maas.io"
# The MAAS admin SSH key source. Valid sources include 'lp' for Launchpad and 'gh' for GitHub.
# E.g. 'lp:my_launchpad_username'.
admin_ssh_import = ""
