# The API endpoint URL that Juju should use to communicate to LXD
lxd_address = "https://127.0.0.1:8443"
# The Juju cloud name.
# Juju will use this name to refer to the Juju cloud you are creating
cloud_name = "anvil-training"
# The LXD project that Juju should use for the controller resources
lxd_project = "anvil-training"
# The LXD trust token that Juju should use to authenticate to LXD
lxd_trust_token = "1234lkjh..."
