###
## MAAS connection settings
###
#
# The MAAS URL
maas_url = "http://127.0.0.1:5240/MAAS"
# The MAAS API key
maas_key = "TA34jaREV6GZewNsfz:kz6PgpXbkjUzmsmnCV:n77nHsMQmTbmj5ssvYvMg7muAPnpxyTj"

###
## MAAS configuration values
###

# Whether to enable DHCP for a given subnet on a specified rack controller
# If you enable this you also need to specify pxe_subnet below
enable_dhp = false
# The hostname of the MAAS rack controller to enable DHCP on
rack_controller = "foo-bar"
# The subnet to serve DHCP from the MAAS rack controller
pxe_subnet = "10.10.10.0/24"
# The URL of the boot source to synchronize OS images from
# This needs to be a simple streams server
image_server_url = "http://images.maas.io/ephemeral-v3/stable/"
# Configure MAAS to download these images immediately.
# Each key is the release name and the value is a map of
# architectures and - optionally - sub-architectures
boot_selections = {
  jammy = {
    arches    = ["amd64"]
    subarches = ["generic"]
  }
  noble = {
    arches    = ["amd64"]
    subarches = ["generic"]
  }
}
# A map of MAAS configuration settings, where key is the setting name and
# value is the setting desired value
maas_config = {
  enable_http_proxy  = false
  completed_intro    = true
  prometheus_enabled = true
}
# A map of package repositories to supply to MAAS deployed machines, where
# key is the repository name and value is a map of package repository
# settings
package_repositories = {
  foo_bar = {
    url    = "http://foo.bar.com/foobar"
    arches = "amd64,arm64"
  }
}
# A map of tags to create, where key is the tag name and value is a map of
# tag attributes
tags = {
  foobar = {
    comment = "Example tag"
  }
}
# A map of DNS domains to create, where key is the domain name and value is a
# map of domain attributes
domains = {
  foobar = {
    is_default = false
  }
}
# A map of DNS domain records to create, where key is the domain name and
# value is a set domain records. Each domain record is a map of domain record
# attributes
domain_records = {
  foobar = [
    {
      name = "foo"
      data = "127.0.0.1"
      ttl  = 3600
      type = "A/AAAA"
    },
  ]
}
# A set of node scripts to create, where each set item points to the script
# file path relevant to node_scripts_location
node_scripts = [
  "foo.sh",
  "bar.sh"
]
# The path in disk where node script files are located
node_scripts_location = "/home/ubuntu/node-scripts"
